@import "../../utils/component";

.currencyWrap {
  overflow: visible;
}

.show {
  .btn-primary.dropdown-toggle {
    background-color: $accentColor1 !important;
    border-color: $accentColor1 !important;
  }
}

.btn-check,
.btn-check:focus,
.btn-check:active,
.btn-check:visited {
  background-color: $accentColor1 !important;
  border-color: $accentColor1 !important;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: $accentColor1 !important;
  border-color: $accentColor1 !important;
}

#dropdown-item-button {
  background-color: $accentColor1 !important;
  border-color: $accentColor1 !important;
  border-radius: 5vw;
 // width: 100%;
}
