@import "../../utils/component";

.currencyWrap {
  overflow: visible;
}


.show {
  .btn-primary.dropdown-toggle {
    background-color: #3f85a4!important;
    border-color: #3f85a4!important;
  }
}

.btn-check,
.btn-check:focus,
.btn-check:active,
.btn-check:visited {
  background-color: #3f85a4 !important;
  border-color: #3f85a4 !important;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: #3f85a4 !important;
  border-color: #3f85a4 !important;
}

#dropdown-item-button {
  background-color: #3f85a4 !important;
  border-color: #3f85a4 !important;
}
