@import "../../utils/component";

.transactionListContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
  margin: 1rem auto;
  margin-top: 1rem;
  background-color: $bgColorTR;
  box-shadow: $boxShadowDark;
  padding: 1rem;
  border-radius: 30px;
  filter: $dropShadowDark;
  min-height: 50vh;
  .transactionList {
    color: $txtColor1;
    .tableTitle {
      font-size: 1.2rem;
      tr {
        .title {
          text-align: left;
        }
        .titleAmount {
          text-align: right;
        }
        .sortIcon {
          margin-left: 0.5rem;
          &:hover {
            color: $accentColor1;
          }
        }
      }
    }
    .tableBody {
      tr {
        .tdLeft {
          p {
            margin: 0;
            text-align: left;
          }
          .category {
            font-weight: bold;
          }
          .paymentMethod {
            color: $accentColor1;
            font-weight: bold;
          }
        }
        .tdRight {
          p {
            margin: 0;
            text-align: right;
          }
          .negativeAmount {
            color: $accentColor3;
          }
        }
        .form-check-input {
          box-shadow: none;
          border: 0.1rem solid $txtColor1;
          background-color: transparent;
          &:checked {
            box-shadow: none;
            outline: unset;
            border: 0.1rem solid $accentColor1;
            background-color: $accentColor1;
          }
        }
        //desktop
        @include media-breakpoint-up(lg) {
          .negativeAmount {
            color: $accentColor3;
          }
        }
      }
      .paging {
        td {
          border-bottom: unset;
        }
      }
    }
  }
  .noTranContainer {
    h2 {
      text-align: center;
      margin-top: 1rem;
    }
  }
}
