@import '../../utils/component';

.dark{
    color: $txtColor1;
    background-color: $boxColor;
    border: none;
    &:focus{
        color: $txtColor1;
        background-color: $boxColor;
        outline: solid 3px $accentColor1;
        box-shadow: none;
    }
}