@import "../../utils/component";

.sortDropdown {
  display: inline-block;
  .dropdown-item {
    color: $txtColor2;
  }
  button {
    margin-left: 0.5rem;
    height: 20px;
    line-height: 100%;
    background-color: transparent;
    font-size: 2rem;
    padding: 0;
    border: none;
    box-shadow: none;
    &:focus,
    &:hover,
    &:visited {
      background-color: transparent !important;
      border: none !important;
      box-shadow: none !important;
    }
    &:hover {
      color: $accentColor1 !important;
    }
    @include media-breakpoint-up(lg) {
      margin-left: 1rem;
    }
    @include media-breakpoint-up(xl) {
      margin-left: 1rem;
    }
    @include media-breakpoint-up(xxl) {
      margin-left: 1rem;
    }
  }
}
