@import "../../utils/component";


.dashBoard_wrapper {
  color: white;
  padding: 0 0.75rem;
}

.box_wrapper {
  background-color: $boxColor;
  padding: 1rem;
  border-radius: 30px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin: 0.5rem auto;
  // min-height: 100px;
}
