@import "../../utils/component";

.editUserAccountModal {
  padding-left: 0 !important;
  width: unset;
  .modal-fullscreen {
    min-height: 100%;
    .modal-content {
      background-color: $bgColor;
      padding: 0 1rem;
      .editUserAccountContainer {
        flex: 1;
        background-color: $boxColor;
        padding: 1rem;
        border-radius: 30px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        margin: 1rem auto;
        .modal-header {
          .modal-title {
            font-size: 3rem;
          }
          .modalClsBtn {
            font-size: 2rem;
          }
        }
        .modal-body {
          .editUserForm {
            .photoInput,
            .passwordInput,
            .passwordInputConfirm {
              margin: 1rem 0;
              @include media-breakpoint-up(lg) {
                grid-row: 2;
                grid-column: 1;
              }
              .form-control {
                color: $txtColor1;
                background-color: transparent;
                border: none;
                border-bottom: solid 0.1rem $txtColor1;
                &:focus {
                  outline: none;
                  box-shadow: none;
                }
              }
            }
            .buttons {
              text-align: center;
              margin-top: 2rem;
              @include media-breakpoint-up(lg) {
                text-align: right;
              }
              button {
                width: 30vw;
                border-radius: 10vw;
                border: none;
                box-shadow: none;
                transition: all 0.5s ease-in-out;
                @include media-breakpoint-up(lg) {
                  width: 15vw;
                }
                &:hover {
                  transform: scale(1.05);
                }
              }
              .saveBtn {
                background-color: $accentColor1;
                margin-right: 0.5rem;
              }
              .cancelBtn {
                background-color: $accentColor1;
                margin-right: 0.5rem;
              }
            }
          }
        }
      }
    }
  }
}
