@import "../../utils/component";

.calendar-wrapper {
  .dateFilter {
    background-color: transparent;
    color: $txtColor1;
    border-radius: 10vw;
    border: solid 0.1rem $txtColor1;
    padding: 0.3rem;
    width: 100%;
    text-align: center;
    &:focus {
      outline: none;
      border: 0.1rem solid $accentColor1 !important;
    }
  }
  // .dashboard {
  //   filter: $dropShadowDark;
  //   border: none;
  //   background-color: $bgColorTR;
  //   height: 60px;
  // }
}



.picker-popper {
  .react-datepicker-popper{
    z-index: 2;
  }
  .react-datepicker__day--selected,
  .react-datepicker__day--in-range {
    background-color: $accentColor1;
  }
}
