@import "../../utils/component";

.calendar-wrapper {
  .dateFilter {
    background-color: $boxColor;
    color: $txtColor1;
    border-radius: 10vw;
    border: solid 0.1rem $txtColor1;
    padding: 0.3rem;
    width: 100%;
    text-align: center;
    &:focus {
      outline: none;
      border: 0.1rem solid $accentColor1 !important;
    }
  }
  .shadow{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  .no-border{
    border: none;
  }
}

.picker-popper{
  .react-datepicker__day--selected, .react-datepicker__day--in-range{
    background-color: $accentColor1;
  }
}