@import "~bootstrap/scss/bootstrap";
@import "./component";

body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  color: $txtColor1;
}
.App {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  color: $txtColor1;
  a {
    color: $txtColor1;
    transition: all 0.5s ease-in-out;
    &:hover {
      color: $accentColor1;
    }
  }
  .accent-color {
    color: $accentColor1;
  }
  .line-text {
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    &:before,
    &:after {
      content: "";
      flex: 1 1;
      border-bottom: 1px solid;
      margin: auto;
    }
    &:before {
      margin-right: 10px;
    }
    &:after {
      margin-left: 10px;
    }
  }
  /* light mode scss */
  &.light {
    color: $bgColor;
    //all pages
    .main {
      // background-color: $txtColor1;
      background-image: linear-gradient(to right, $txtColor1 50%, rgba(192, 192, 202, 0)), url("/images/bg-image.jpg");
      background-size: cover;
      background-position: 55% top;
      background-repeat: no-repeat;
    }
    a {
      color: $bgColor;
      transition: all 0.5s ease-in-out;
      &:hover {
        color: $accentColor1;
      }
    }
    .accent-color {
      color: $accentColor1;
    }
    .line-text {
      display: flex;
      flex-direction: row;
      text-transform: uppercase;
      &:before,
      &:after {
        content: "";
        flex: 1 1;
        border-bottom: 1px solid;
        margin: auto;
      }
      &:before {
        margin-right: 10px;
      }
      &:after {
        margin-left: 10px;
      }
    }
    .box_wrapper,
    .box_wrapperr,
    .box_wrapper_top,
    .main .userProfileCard {
      background-color: $bgColorLight;
      box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }
    //dashboard {
    .calendar-wrapper .dateFilter {
      background-color: $bgColorLight;
    }
    //transaction page
    .filterContainer,
    .transactionListContainer {
      background-color: $bgColorLight;
      box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }
    .transactionListContainer .transactionList .tableBody tr .form-check-input {
      border: solid 0.1rem $bgColor;
    }
    .paginationContainer .pagination .page-item.currentPage {
      background-color: $bgColorLight;
      filter: drop-shadow(1px 1px 1px rgba(54, 53, 53, 0.386));
    }
    .form-control {
      border: solid 0.1rem $bgColor;
    }
    .table {
      border-color: $bgColor;
    }
    .dateFilter {
      color: $bgColor;
      border: solid 0.1rem $bgColor;
    }
    .paginationContainer {
      .pagination {
        .page-item {
          .page-link {
            color: $bgColor;
            &:hover {
              color: $accentColor1;
            }
            &:focus {
              box-shadow: unset;
            }
          }
        }
      }
    }
    .filterContainer .dateRangeFilter .calendar-wrapper .react-datepicker-wrapper .dateFilter {
      color: $bgColor;
      border: solid 0.1rem $bgColor;
    }
    .searchIcon,
    .searchInput,
    .transactionList {
      color: $bgColor;
    }
    //auth page
    .auth-container {
      background-color: $bgColorLight;
      background-image: linear-gradient(to right, $txtColor1 10%, rgba(210, 211, 221, 0.5)), url("/images/bg-image.jpg");
      @include media-breakpoint-up(md) {
        background-image: linear-gradient(to right, $txtColor1 50%, rgba(207, 207, 212, 0)), url("/images/bg-image.jpg");
      }
    }
    .dark {
      color: $bgColor;
      background-color: $bgColorLight;
      &:focus {
        color: $bgColor;
        background-color: $bgColorLight;
      }
      &:-webkit-autofill {
        color: $txtColor2 !important;
        background-color: $bgColorLight !important;
        &:hover,
        &:focus {
          color: $bgColor !important;
          background-color: $bgColorLight !important;
        }
      }
    }
    .dark:-webkit-autofill,
    .dark:-webkit-autofill:hover,
    .dark:-webkit-autofill:focus,
    .dark:-webkit-autofill:active {
      -webkit-text-fill-color: $bgColor !important;
    }
    .form-check-input {
      border: 0.1rem solid $bgColor;
    }
    //nav bar
    .navbar .nav-icon .navBtn {
      color: $bgColor;
      img {
        border: 2px solid $bgColor;
      }
      &__active {
        color: $bgColor;
      }
      &__active:hover {
        color: $bgColor;
      }
      &__active:focus {
        color: $bgColor;
      }
    }
    .navBtn:hover {
      color: $bgColor;
    }
    .navBtn:focus {
      color: $bgColor;
    }
    .navbar .nav-dropdown__active .navBtn {
      color: $bgColor;
    }
  }
}
