@import "~bootstrap/scss/bootstrap";
@import "./component";

body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  color: $txtColor1;
}
.App {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  color: $txtColor1;
  a {
    color: $txtColor1;
    transition: all 0.5s ease-in-out;
    &:hover {
      color: $accentColor1;
    }
  }
  .accent-color {
    color: $accentColor1;
  }
  .line-text {
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    &:before,
    &:after {
      content: "";
      flex: 1 1;
      border-bottom: 1px solid;
      margin: auto;
    }
    &:before {
      margin-right: 10px;
    }
    &:after {
      margin-left: 10px;
    }
  }
  /* light mode scss */
  &.light {
    //auth page
    .auth-container {
      background-color: $bgColorLight;
      background-image: linear-gradient(to right, $txtColor1 10%, rgba(210, 211, 221, 0.5)), url("/images/bg-image.jpg");
      @include media-breakpoint-up(md) {
        background-image: linear-gradient(to right, $txtColor1 30%, rgba(207, 207, 212, 0)), url("/images/bg-image.jpg");
      }
      color: $txtColor2 !important;
      a {
        color: $txtColor2;
      }
      .dark {
        color: $txtColor2;
        background-color: $bgColorLight;
        border: 0.1rem solid $accentColor1;
      }
      .dark:-webkit-autofill,
      .dark:-webkit-autofill:hover,
      .dark:-webkit-autofill:focus,
      .dark:-webkit-autofill:active {
        color: $txtColor2 !important;
        -webkit-text-fill-color: $txtColor2 !important;
      }
    }
    //transaction page: header, search
    header {
      color: $txtColor2;
    }
    .searchInput {
      color: $txtColor2;
      border: 0.1rem solid $txtColor2;
    }
    //background color change
    .box_wrapper,
    .box_wrapper_top,
    .box_wrapperr,
    .delConfModal,
    .filterContainer,
    .transactionListContainer,
    .userProfileCard {
      background-color: $bgColorTrLight;
    }
  }
}
