@import "~bootstrap/scss/bootstrap";
@import './component';

body {
  // text-align: center;
  font-family: "Josefin Sans", sans-serif;
  color: $txtColor1;
}

a {
  // text-decoration: none;
  color: $txtColor1;
  transition: all 0.5s ease-in-out;
  &:hover {
    color: $accentColor1;
  }
}

.line-text {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  &:before,
  &:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
  }
  &:before {
    margin-right: 10px;
  }
  &:after {
    margin-left: 10px;
  }
}
