@import "../../utils/component";

.transactionContainer {
  header {
    margin: 1rem 0;
    @include media-breakpoint-up(lg) {
      //desktop
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
    }
  }
}
