@import "../../utils/component";


.description{
    text-align: center;
    margin-bottom: 0.4rem;
}

.amount{
    text-align: right;
    margin-bottom: 0.4rem;
}

.recent-transactions-wrapper{
    height: auto;
    @include media-breakpoint-up(lg) {
        height: 32vh;
    }
  }