@import "../../utils/component";

.filterContainer {
  background-color: $boxColor;
  padding: 1rem;
  border-radius: 30px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin: 1rem auto;
  @include media-breakpoint-up(lg) {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .filterOptions {
    margin-bottom: 1rem;
    .col {
      .incomeFilter,
      .expenseFilter {
        width: 100%;
        border-radius: 10vw;
        border: none;
        box-shadow: none;
        background-color: $accentColor1;
        transition: all 0.5s ease-in-out;
        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
  .dateRangeFilter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    .calendar-wrapper {
      width: 80%;
      padding: 0;
      .react-datepicker-wrapper {
        width: fit-content;
        width: 100%;
        .dateFilter {
          font-size: 0.8rem;
          background-color: transparent;
          color: $txtColor1;
          border-radius: 10vw;
          // border-top-right-radius: 0;
          // border-bottom-right-radius: 0;
          border: solid 0.1rem $txtColor1;
          padding: 0.3rem;
          width: 100%;
          text-align: center;
          &:focus {
            outline: none;
            border: 0.1rem solid $accentColor1 !important;
          }
        }
      }
    }
    .searchBtn {
      background-color: $accentColor1;
      border-radius: 10vw;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      background-color: $accentColor1;
      border: none;
      box-shadow: none;
      width: 20%;
      margin: auto;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    svg {
      width: fit-content;
      font-size: 2rem;
      transition: all 0.5s ease-in-out;
      &:hover {
        transform: scale(1.05);
      }
    }
    .editBtn {
      color: $accentColor1;
    }
    .deleteBtn {
      color: $accentColor3 !important;
    }
  }

  //======== Desktop, large desktop, and larger desktop ===========
  .filterOptionsDesktop {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    .incomeFilter,
    .expenseFilter {
      border-radius: 10vw;
      background-color: $accentColor1;
      width: 10vw;
      border: none;
      box-shadow: none;
      transition: all 0.5s ease-in-out;
      &:hover {
        transform: scale(1.05);
      }
    }
    .calendar-wrapper {
      width: 20vw;
    }
    .searchBtn {
      background-color: $accentColor1;
      border-radius: 10vw;
      width: 8vw;
      background-color: $accentColor1;
      border: none;
      box-shadow: none;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
  .buttonsDesktop {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    .addNewBtn {
      border-radius: 10vw;
      width: 8vw;
      background-color: $accentColor1;
      border: none;
      color: $txtColor1;
      box-shadow: none;
      transition: all 0.5s ease-in-out;
      &:hover {
        transform: scale(1.05);
      }
    }
    .editBtn {
      border-radius: 10vw;
      width: 8vw;
      background-color: $accentColor1;
      border: none;
      color: $txtColor1;
      box-shadow: none;
      transition: all 0.5s ease-in-out;
      &:hover {
        transform: scale(1.05);
      }
    }
    .deleteBtn {
      border-radius: 10vw;
      width: 8vw;
      background-color: $accentColor3 !important;
      border: none;
      box-shadow: none;
      transition: all 0.5s ease-in-out;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
