@import '../../utils/component';

.nav_wrapper {
  width: 100px;
  height: 100vh;

  .navbar {
    background-color: $accentColor1;

    .navBtn {
      color: white;
      text-decoration: none;
      &__active {
        color: white;
      }
      &__active:hover {
        user-select: none;
        cursor: default;
        color: white;
      }
      &__active:focus {
        user-select: none;
        cursor: default;
        color: white;
      }
    }

    .navBtn:hover {
      color: white;
      text-decoration: none;
      transform: scale(1.05);
      transition: all 0.5s ease-in-out;
    }

    .navBtn:focus {
      color: white;
    }

    p {
      font-size: 15px;
      font-family: "Josefin Sans", sans-serif;
      text-align: center;
    }
  }
}
