@import '../../utils/component';

.btn-green{
    position: relative;
    color: $txtColor1 !important;
    background-color: $accentColor1;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 10vw;
    transition: all 0.5s ease-in-out;
    &:hover{
        transform: scale(1.05);
    }
}

.icon{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translate(-50%, -50%);
}

.google-btn{
    padding-left: 23px;
}